<table style="margin-left: auto; margin-right: auto">
  <tr>
    <th style="border: 0px">
      <img
        src="{{src}}"
        {%
        if
        caption
        %}
        alt="{{caption}}"
        {%
        endif
        %}
        width="{{width}}"
        onclick="toggleColour(this)"
      />
    </th>
  </tr>
  <tr style="text-align: center">
    <td style="border: 0px">{% if caption %} {{caption}} {% endif %}</td>
  </tr>
</table>
