{% extends "base.html" %} {% block content %}

<div class="title-block">
  <h1>{{ section.title }}</h1>
</div>

<img src="/images/about/me-stencil.png" alt= "Picture of the author of this site" align="right" width="200" height="200" style="padding: 20px; margin-right:30px" onclick=toggleColor(this) >

<p>
Hello, my name is Paulius. I am currently studying <a href="https://msclogic.illc.uva.nl/programme/mol/">MSc Logic</a> at the <a href="https://www.illc.uva.nl/">Institute for Logic, Language and Computation</a> in <a href="https://www.uva.nl/en">University of Amsterdam</a>. Previously, I have worked as a Machine Learning Engineer at <a href="https://www.iconpro.com/en/home/">IconPro</a>. Before that, I studied at <a href="https://www.maastrichtuniversity.nl/research/department-data-science-and-knowledge-engineering-dke">DKE</a> in <a href="https://www.maastrichtuniversity.nl/">Maastricht University</a> and obtained a BSc with Honours in <a href="https://www.maastrichtuniversity.nl/education/bachelor/data-science-and-artificial-intelligence">Data Science and Artificial Intelligence</a>. At DKE I was also the President of Study Association <a href="https://msvincognito.nl/boards/">MSV Incognito</a>.
</p>

<p>
I created this little site in an effort to concretize my thoughts about some topics and store previews of projects I have worked on.
</p>

<p>
You can find me on <a href="https://www.linkedin.com/in/paulius-skaisgiris-078467161/">LinkedIn</a>, <a href="https://gitlab.com/p-skaisgiris">GitLab</a>, and <a href="https://github.com/p-skaisgiris">GitHub</a> (I only use GitHub when I work on other people's repositories). Email me at (my first name in lowercase) (squiggle) (the name of this website).
</p>

<p>
You can access my Curriculum Vitae <a href="/pdfs/CV.pdf">here</a>. Last updated 2024-06-07.
</p>

</br>

<p>
This site is built on top of <a href="https://gitlab.com/maasmath/site">this</a>. If you couldn't tell, I'm probably a little too fond of dark mode. Oh, and <a href="https://branch.climateaction.tech/2020/10/05/10-rules-for-building-a-low-impact-website/">this</a> is cute.
</p>

{% endblock content %}
