<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Font Awesome Icons  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>
      {% block title %} {{ section.title }} | {{ config.extra.site_name }} {%
      endblock title %}
    </title>

    <!-- KaTeX -->
    <!-- Taken from https://katex.org/docs/browser.html -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
      integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
      integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
      integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>

    <script src="/functions.js"></script>

    <link rel="stylesheet" href="/fonts.css" />
    <link rel="stylesheet" href="/design.css" />
  </head>
  <body>
    <header>
      {% block header %}
      <h1><a href="/"> {{ config.extra.site_name }} </a></h1>
      <p>{{ config.extra.sub_title }}</p>
      <nav>
        <a href="/about">About</a> <span>&#8728;</span> <a href="/">Blog</a>
        <span>&#8728;</span>
        <a href="/portfolio">Portfolio</a>
      </nav>
      <hr />
      {% endblock header %}
    </header>

    <div class="container">
      <main>
        <article>
          {% block content %}
          <div class="info">
            {% if section.date %}
            <!-- <span class='divider'> -->
            <span>{{ section.date | date(format="%d %B %Y") }}</span>
            {% endif %}
          </div>
          {{ section.content | safe }} {% endblock content %}
        </article>
      </main>
    </div>
  </body>
</html>
