{% extends "base.html" %} {% block content %}
<!-- Manually set the page to get the metadata from blog -->
{% set section = get_section(path="blog/_index.md") %}

<div class="title-block">
  <h1>{{ section.title }}</h1>
</div>

<p style="font-size: 17px; text-align: center">
  Colour is optional. <b>Click on pictures</b> to toggle it.
</p>

<div class="recent">
  <ul style="list-style-type: none; display: table; margin: 0 auto">
    {% for page in section.pages %} {% set len = page.path | length %}
    <li>
      <a href="{{ page.path | truncate(length=len-1, end='') }}">
        {{ page.title }}
        <i>{{ page.date | date(format="%d %b %y") }}</i>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
