{% extends "base.html" %} {% block content %}

<div class="title-block">
  <h1>{{ section.title }}</h1>
</div>

<p
  style="
    font-size: 17px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 60px;
  "
>
  Colour is optional. <b>Click on pictures</b> to toggle it.
</p>

<h3 style="text-align: center">Search by tags</h3>
<!-- Display tags from the site config -->
<p style="font-size: larger; text-align: center">
  {% for tag in config.extra.tags %}
  <a href="/portfolio#{{tag}}">{{ tag }}</a
  ><span style="margin-left: 8px; margin-right: 4px">|</span>{%endfor%}
</p>

<hr />

<!-- Show only the pages that match the tag -->
{% for tag in config.extra.tags %}
<h2 id="{{ tag }}" style="text-align: center; text-decoration-line: underline">
  {{tag}}
</h2>
{% for page in section.pages %} {% if tag in page.extra.tags %}
<h3>{{ page.title }}</h3>
<p style="text-align: left">
  {{ page.date }}
  <span style="float: right">
    <i>{{ page.extra.tags | join(sep=", ") }}</i>
  </span>
</p>
{{ page.content | safe }} {%endif%} {% endfor %} {%endfor%} {% endblock content
%}
